# Enterprise Inventory Project - Ignore List
.env
__pycache__/
*.pyc
.venv/
.streamlit/
chroma_db/
inventory.db
diamonds.csv
products.csv
# We want to keep setup_data.py and init_inventory_db.py 
# so others can setup the database themselves.
